body{
    box-sizing: border-box;
    margin: 0;
}

.color{
    color: blueviolet;

}

.header{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link{
    font-size: 18px;
    padding: 10px 20px;
}

.elheader{
    display: flex;
    justify-content: space-between;
}



.el1a,.el2a,.el3a,.el4a{
    color: blueviolet;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #060405;
}

.el1b{
    font-weight: 500;
}

.elcard{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;

}
.elcard .fa-solid{
    font-size: 50px;
}

.booknow{
    border: 1px solid blueviolet;
    border-radius: 10px;
    font-size: 10px;
    color: blueviolet;
}



/* Customize as needed */
.faq-section {
    padding: 50px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.faq h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 16px;
    color: #333;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contact-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color:blueviolet;
    color: #f8f8f8;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color:rgb(130, 1, 251);

}



.content {
    padding: 50px;
    background-color: #f8f8f8;
}

.footer {
    margin-top: 20px;
    background-color:blueviolet;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    max-width: 600px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}










